<div class="card">
  <h5>Localização:</h5>
  <div class="field">
    <input
      pInputText
      id="addressInput"
      type="text"
      placeholder="Digite o endereço"
      style="width: 100%; margin-bottom: 10px"
    />
  </div>
  <google-map
    height="300px"
    width="100%"
    [center]="center"
    [zoom]="zoom"
    (mapClick)="onMapClick($event)"
  >
    <map-marker
      *ngIf="markerPosition !== null"
      [position]="markerPosition!"
    ></map-marker>
  </google-map>
  <p-button (click)="confirmLocation()" placeholder="Buscar endereço e número">
    Confirmar Localização
  </p-button>
</div>
